$red: #B03060;
$orange: #FE9A76;
$yellow: #FFD700;
$olive: #32CD32;
$green: #016936;
$teal: #008080;
$blue: #0E6EB8;
$violet: #EE82EE;
$purple: #B413EC;
$pink: #FF1493;
$brown: #A52A2A;
$grey: #A0A0A0;
$light-grey: #EEEEEE;
$black: #000000;
$white: #FFFFFF;

$primaryColor   : $blue;
$secondaryColor : $grey;

$kit-background: $white;
$kit-border: rgba(34, 36, 38, .15);
$kit-shadow: 0px 2px 12px -5px rgba(0, 0, 0, 0.5);

$base-background: rgba($light-grey, .3);
