@import "../modules/project-prefix";

$margin_bottom_correction: 1em;

.#{$project-prefix}-optionSelector__content {
  margin-bottom: -$margin_bottom_correction;
}

.#{$project-prefix}-optionSelector__button-wrapper {
  display: inline-block;
  margin-bottom: $margin_bottom_correction;

  &:not(:last-child) {
    margin-right: 1em;
  }
}
