@import "../modules/project-prefix";

.#{$project-prefix}-panel {
  position: relative;
  padding: 2em;
  border-radius: .5em;
  background-color: $kit-background;
  border: 1px solid $kit-border;
  box-shadow: $kit-shadow;

  &:not(:last-of-type) {
    margin-bottom: 1em;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
  }

  &__header-title {
    margin: 0;
  }

  &__validation-check {
    margin-left: .5em;
  }
}
