$margin_bottom_correction: 1em;

.content {
  margin-bottom: -$margin_bottom_correction;
}

.buttonWrapper {
  display: inline-block;
  margin-bottom: $margin_bottom_correction;

  &:not(:last-child) {
    margin-right: 1em;
  }
}

